body
{
  margin:0;
}
.top-bar
{
  background-color:white;
  width:100%;
  height:40px;
  color:black;
}
.news-bar
{
  background-color:#BB1919;
  width:100%;
  height:50px;
  color:white;
}
.category-bar
{
  background-color:#A91717;
  width:100%;
  height:30px;
  color:white; 
}
.location-bar
{
  background-color:white;
  width:100%;
  height:40px;
  color:white; 
}
.content
{
  background-color:white;
  width:100%;
  color:#000000f;
  position:relative;
  left:10px;
}
.fixed-width
{
  width:1000px;
  margin:0 auto;
}
#logo img
{
  width:84px;
  height:24px;
  float:left;
  padding:10px;
  padding-right:10px;
  padding-bottom:6px;
  border-right:1px solid #B4B4B4;
}
#signin
{
  width:18;
  height:18;
  font-weight:bold;
  font-size:1.1em;
  float:left;
  padding:10px;
  border-right:1px solid #B4B4B4;
  padding-bottom:7px;
  padding-right:60px;
}
.top-bar ul 
{
    margin:0; 
    padding:0;
}
.top-bar ul li
{
  float:left;
  list-style:none;
  display:inline;
  font-weight:bold;
  font-size:1.1em;
  border-right:1px solid #B4B4B4;
  padding:9px;
  padding-bottom:10px;
}
.top-bar ul li:hover
{
  background-color:black;
  color:white;
  transition:0.6s ease;
}
#search-bar
{
  float:left;
  width:200px;
  padding:10px;
}
#search-bar input
{
  background-image:url("http://static.bbci.co.uk/frameworks/barlesque/2.88.1/orb/4/img/orb-search-dark.png");
    background-repeat:no-repeat;
  background-position:right center; 
  padding:3px;
}
.news-bar p
{
  margin:0;
  padding:0;
  font-family:Arial;
  font-weight:bold;
  font-size:2em;
  position:relative;
  left:8px;
}
.category-bar ul
{
  margin:0;
  padding:0;
  position:relative;
  left:3px;
}
.category-bar ul li
{
  list-style:none;
  float:left;
  display:inline;
  border-right:1px solid  #BB4545;
  padding:6px;
  font-family:Arial;
  font-size:0.9em;
}
.category-bar ul li:hover
{
  background-color:white;
  color:black;
  transition:0.6s ease;
}
.category-bar ul li.active
{
  background-color:white;
  color:black;
  transition:0.6s ease;
}
.location-bar ul
{
  margin:0;
  padding:0;
  position:relative;
  left:2px;
}
.location-bar ul li
{
  list-style:none;
  float:left;
  font-family:Arial;
  padding:8px;
  color:black;
  display:inline;
  border-right:1px solid #B4B4B4;
  font-size:0.8em;
}
.location-bar ul li:hover
{
  background-color:black;
  color:white;
  transition:0.6s ease;
}
#bold
{
  font-weight:bold;
  font-size:1em;
}
.content-bar h1
{
  color:#1167A8;
}
.content img
{
  float:right;
  position:relative;
  right:330px;
  bottom:100px;
  height:200px;
  width:400px;
}
.content p
{
  width:215px;
}
#content-links
{
  width:250px;
  line-height:1.4em;
}
.content a
{
  text-decoration:none;
}
.watch-listen
{
  float:right;
  position:relative;
  bottom:280px;
  left:340px;
  border-left:1px solid #B4B4B4;
  padding:0px 0px 0px 25px;
}
.watch-listen h2
{
  font-family:Arial;
  margin:0;
}
.watch-listen img
{
  position:relative;
  top:3px;
  right:3.5px;
}